:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 35em;
  
}

#doughp-logo img {
  width: 7em;
}

#header > div {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
display: flex;
list-style: none;

}

nav ul li {
padding-left: 1.25em;
text-transform: uppercase;
font-size: var(--font-size-base);
font-weight: 500;
}

nav ul li a:link, 
nav ul li a:visited {
color: #000;
text-decoration: none;

}

.grid1 {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 1em;
}

.grid1 img {
  width: 100%; 
  max-width: 100%; 
  border-radius: 0.7em;
}


.grid1 img:first-child {
  grid-column: 1 / span 3; 
}

#valentine::after {
  content: "";
  display: block;
  height: 0.25em;
  background-color: #f0f0f0; 
  margin: 2em 0;
  clear: both;
}

h1 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  margin-bottom: 0;
}

#limited {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

#flavour {
  margin: 0;
}

blockquote {
  font-size: var(--font-size-base);
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #000; 
  color: #fff; 
  border-radius: 0.3em; 
  text-decoration: none; 
  font-weight: 100;
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.10);
}

#dough {
  margin-bottom: 2em;
  padding: 1em;
  
}
 
#dough > div > h2 {
text-align: center;
padding: 1em;
}



#testimonials {
  background-color: #000;
  color: #fff;
  padding-bottom: 2em;
  width: 100%;
  
}

#testimonials > div > h2 {
  text-align: center;
  padding: 1em;
}

.bodytext-center {
padding-left: 1em;
text-align: left;
font-size: var(--font-size-base);

}

p {
  font-size: var(--font-size-base);
  margin-bottom: 1em;
}

#tryitwith {
  text-align: center;
}

#tryitwith::after {
  content: "";
  display: block;
  height: 0.25em;
  background-color: #f0f0f0; 
  margin-top: 2em;
  clear: both;
}

.flavour-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 1.5em;
  
}

.flavour-grid article {
background-color: #f0f0f0;
width: 100%;
border-radius: 1em;

}

.flavour-grid article img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

footer {
  text-align: center;
  padding: 1em;
}

/* tablet 768 media query*/
@media (min-width:48em) {

header {
  margin-top: 1em;
}

#company-logo img {
    width: 12em;
  }

.wrapper  {
    margin: 0 auto;
    max-width: 50em;
  }

.grid1 {
  grid-template-columns: 1fr 1fr;
}

.grid1 img:first-child {
  grid-column: 1; 
}

#dough .wrapper div {
  display: flex;
  gap: 2em;
}

#dough .wrapper h2 {
margin: 0;
padding-top: 0;
}

/* testimonials */
#testimonials  div h2 {
  padding-bottom:0;
  margin-bottom: 0;
}

#testimonials .wrapper div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* flavour grid */
.flavour-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


 /* desktop 960 */
 @media (min-width:60em) {

  .wrapper {
    margin: 0 auto;
    max-width: 60em;
  }

  header {
  margin-top: 1em;
}

#company-logo img {
    width: 16em;
  }

nav ul li {
  padding-left: 1.25em;
  text-transform: uppercase;
  font-size: var(--font-size-md);
  font-weight: 500;
  }

#valentine {
  margin-top: 2em;
}

 .container  {
    display: flex;
    gap: 1.5em;
  }
  
  .grid1 {
    flex: 1; 
    display: grid;
    grid-template-columns: 1fr(repeat);
   
  }

  .grid1 img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;

  }

 .valentine-text{
    flex: 1; /* Allow text div to take available space */
  }
  
  .valentine-text h1 {
    font-size: var(--font-size-lg);
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
  }

 }

  /* WIDESCREEN */
@media (min-width:80em) {

}